*{
	padding: 0; margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	outline: none;
	border: none;
}

:root{
	--main:linear-gradient(45deg, #52585f, #192c36);
	--primary:#585b5e;
	--secondary-backgrd: ;
	--text-col: #fff;

}

body{
  font-family: Arial, sans-serif;
  background: #232526;  /* fallback for old browsers */
  background: -webkit-var(--main);  /* Chrome 10-25, Safari 5.1-6 */
  background: var(--main);
    height: auto; width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header{
  position: fixed ;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--primary);
 box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1; 
}

.navbar{
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  align-items: center;
}

.nav-section .logo{
  font-weight: 700;
  padding: 20px;
  font-size: 20px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: var(--text-col);
}

.search_bar{
  position: relative;
  width: 400px;
  height: 40px;
  border-radius: 10px;
  transition: 0.5s;
  overflow: hidden;
}

.search_bar.active{
  width: 400px;
}

.search_bar .icon{
  position: absolute;
  top: 0; left: 0;
  width: 30px; height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-left: 10px;
  padding-top: 10px;
  z-index: 1000;
  cursor: pointer;
}

.search_bar .icon::before{
  content: '';
  position: absolute;
  width: 10px; height: 10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  transform: translate(-2px,-2px);
}
.search_bar .icon::after{
  content: '';
  position: absolute;
  width: 2px; height: 8px;
 background-color: #ccc;
 transform: translate(5px,5px) rotate(315deg);
}

.search_bar .input{
  position: relative;
  width: 400px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search_bar .input input{
  top: 0;
  width: 100%; height: 100%;
  position: absolute;
  border: none;
  outline: none;
  font-size: 16px;

  background-color:   #414345;
  color: #fff;
  padding-left:40px;
}


.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  color: #fff;
 
}
.nav-menu a{
  padding: 8px 14px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  color: #bbb;
  padding: 10px;
  border: none;
  outline: none;

  margin-left: 10px;
  transition: 0.1s ease;
}

a:hover{
  color: #fff;
}
.icons{
 padding-left: 1.5rem;
 margin-left: 20px;
 cursor: pointer;
 transition: 0.5s;
}
.icons:hover{
transform: scale(1.1);
}

.hambuger{
  display: none;
  cursor: pointer;
}
.bar{
  display: block;
  width: 20px;
  height: 3px;
  margin: 5px auto;
  background-color: #ccc;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media(max-width:768px){
  .hambuger{
    display: block;
  }
  .hambuger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hambuger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hambuger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);

  }

	.nav-menu{
    
    position: fixed;
    right: -100%; top: 68px; gap:0;
    flex-direction: column;
    background-color: hsl(0 0% 100% /0.1);
    backdrop-filter: blur(0.5rem);
    width: 70%;
    height: 30rem;
    padding: 20px; 
    transition: 0.3s ease-out;

		
  }
	.nav-menu.active{
    right: 0;
  }
 
	.search_bar{
		width: 40px;
		border-radius: 60px;
		margin-left: auto;
		position: relative;
	}
	
.search_bar.active{
  width: 300px;
}
	.search_bar .icon{
		margin-left: 5px;
		padding-top: 5px;
	}

	.icons{
		display: none;
	}
 
}

/*<!--############## CONTAINER #############-->*/
section{
  padding: 2rem;
}

.container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 2rem;
}
/*<!--############## RESPONSIVE / MOBILE QUERY #############-->*/
@media (max-width: 768px) {
  .container {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 1.5rem;
  
  }
  
  }
  @media (max-width: 480px) {
    .container {
     
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
      gap: 1.5rem;
      
    
    }
  }

/*<!--############## CARD #############-->*/
.card{
	width: 300px;
  padding: 5px;
	box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	position: relative;
	border-radius: 5px;
	background: #585b5e;
  

}

.card:hover{

transform:  translateY(-5px);
box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}
/*<!--############## IMAGE #############-->*/

 .nft_image{
	width:100%;
	object-fit: cover;
	object-position: center;
  border-radius: 5px;
	
}


/*<!--############## DESC #############-->*/
.nft_desc{
	padding: 5px 10px;
	border-bottom: 2px solid #232526;
}
.nft_desc h4{
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	color: white;
}
.nft_rating h3{
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 1px;
	color: white;
	
}

/*<!--############## RATING #############-->*/
.nft_rating {

	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 5px;
	
}

.nft_rating span{
	display: flex;
	justify-content: space-between;
	align-items: center;	
	padding: 0 10px;
}

/*<!--############## PRICE #############-->*/
.nft_rating .price{
	font-size: 18px;
	font-weight: 500;
	color: hsl(0, 0%, 100%);
	padding-left: 5px;
	
}


/*<!--############## FOOTER #############-->*/
.footer{
	padding-left: 10px;
	display: flex;
	align-items: center;

}

.p_pic{
	width: 20px;
	height: 20px;
	border-radius: 50%; 
	border: 1px solid #000;
	
}
.footer .dev_id{
	font-size: 12px;
	font-weight: 600;
	color: #fff;
}
.footer p{
	font-size: 10px;
	padding: 10px;
	text-align: center;
	color: #ccc;
}
.card .footer .cta{
position: absolute;
font-size: 16px;
font-weight: 600;
 right: -15rem;
 color:#1100ff;
 transition: 0.5s ease;
}
.card:hover .cta{
  right: 1rem;
  
}


